/////////////////////////////////////////////////////////////////////////////
//
// NetRix GLYPHS Resources File 
//
// Usage: Edit file as appropriate. Assure that images exists in the path provided.
//		  Compile project to create GenesisGlyphs.res file.
//        Project settings force make file to create .NET assembly with embedded resources, then.
//
//
// Take GuruComponents.Netrix.Resource.dll into your project executable folder.
//
// Use as embedded resource the internal moniker res://, like
//
//  <img src="res://GuruComponents.Netrix.Resources.dll/PRINT/MarginLR" />
//             ^     ^                                    ^     ^
//             |     |                                    |     \- Name (left Column)
//             |     |                                    \------- Section (middle Column)
//             |     \---------- Assembly Name (and path, if not in same as executable)
//             \-------------------------------------------------- Moniker (mandatory)
//
// If replacing glyphs assure that the glyphs are defined by special strings which take information
// about width and height. In addition the images must fit these data, otherwise a very crappy scaling appears.
// 

/////////////////////////////////////////////////////////////////////////////
//
// GLYPHS (Common)
//

ERROR_GLYPH				ASPNET				   "InternalGlyphs\\ErrorUserControl.GIF"

/////////////////////////////////////////////////////////////////////////////
//
// GYLPHS (Glyph Feature)
//

A-OPEN                  GIFS                    "StandardGlyphs\\a_open.gif"
A-CLOSE                 GIFS                    "StandardGlyphs\\a_close.gif"
ADDRESS-OPEN            GIFS                    "StandardGlyphs\\address_open.gif"
ADDRESS-CLOSE           GIFS                    "StandardGlyphs\\address_close.gif"
APPLET-OPEN             GIFS                    "StandardGlyphs\\applet_open.gif"
APPLET-CLOSE            GIFS                    "StandardGlyphs\\applet_close.gif"
B-OPEN                  GIFS                    "StandardGlyphs\\b_open.gif"
B-CLOSE                 GIFS                    "StandardGlyphs\\b_close.gif"
BIG-OPEN                GIFS                    "StandardGlyphs\\big_Open.gif"
BIG-CLOSE               GIFS                    "StandardGlyphs\\big_close.gif"
BLOCKQUOTE-OPEN         GIFS                    "StandardGlyphs\\blockquote_open.gif"
BLOCKQUOTE-CLOSE        GIFS                    "StandardGlyphs\\blockquote_close.gif"
BR                      GIFS                    "StandardGlyphs\\break.gif"
CAPTION-OPEN            GIFS                    "StandardGlyphs\\caption_open.gif"
CAPTION-CLOSE           GIFS                    "StandardGlyphs\\caption_close.gif"
CENTER-OPEN             GIFS                    "StandardGlyphs\\center_open.gif"
CENTER-CLOSE            GIFS                    "StandardGlyphs\\center_close.gif"
CITE-OPEN               GIFS                    "StandardGlyphs\\cite_open.gif"
CITE-CLOSE              GIFS                    "StandardGlyphs\\cite_close.gif"
CODE-OPEN               GIFS                    "StandardGlyphs\\code_open.gif"
CODE-CLOSE              GIFS                    "StandardGlyphs\\code_close.gif"
COMMENT                 GIFS                    "StandardGlyphs\\comment.gif"
DD-OPEN                 GIFS                    "StandardGlyphs\\dd_open.gif"
DD-CLOSE                GIFS                    "StandardGlyphs\\dd_close.gif"
DFN-OPEN                GIFS                    "StandardGlyphs\\dfn_open.gif"
DFN-CLOSE               GIFS                    "StandardGlyphs\\dfn_close.gif"
DIR-OPEN                GIFS                    "StandardGlyphs\\dir_open.gif"
DIR-CLOSE               GIFS                    "StandardGlyphs\\dir_close.gif"
DIV-OPEN                GIFS                    "StandardGlyphs\\div_open.gif"
DIV-CLOSE               GIFS                    "StandardGlyphs\\div_close.gif"
DL-OPEN                 GIFS                    "StandardGlyphs\\dl_open.gif"
DL-CLOSE                GIFS                    "StandardGlyphs\\dl_close.gif"
DT-OPEN                 GIFS                    "StandardGlyphs\\dt_open.gif"
DT-CLOSE                GIFS                    "StandardGlyphs\\dt_close.gif"
EM-OPEN                 GIFS                    "StandardGlyphs\\em_open.gif"
EM-CLOSE                GIFS                    "StandardGlyphs\\em_close.gif"
FONT-OPEN               GIFS                    "StandardGlyphs\\font_open.gif"
FONT-CLOSE              GIFS                    "StandardGlyphs\\font_close.gif"
FORM-OPEN               GIFS                    "StandardGlyphs\\form_Open.gif"
FORM-CLOSE              GIFS                    "StandardGlyphs\\form_close.gif"
FORM-WIDTH-OPEN         GIFS                    "StandardGlyphs\\form_WOpen.gif"
FORM-WIDTH-CLOSE        GIFS                    "StandardGlyphs\\form_Wclose.gif"
H1-OPEN                 GIFS                    "StandardGlyphs\\h1_open.gif"
H1-CLOSE                GIFS                    "StandardGlyphs\\h1_close.gif"
H2-OPEN                 GIFS                    "StandardGlyphs\\h2_open.gif"
H2-CLOSE                GIFS                    "StandardGlyphs\\h2_close.gif"
H3-OPEN                 GIFS                    "StandardGlyphs\\h3_open.gif"
H3-CLOSE                GIFS                    "StandardGlyphs\\h3_close.gif"
H4-OPEN                 GIFS                    "StandardGlyphs\\h4_open.gif"
H4-CLOSE                GIFS                    "StandardGlyphs\\h4_close.gif"
H5-OPEN                 GIFS                    "StandardGlyphs\\h5_open.gif"
H5-CLOSE                GIFS                    "StandardGlyphs\\h5_close.gif"
H6-OPEN                 GIFS                    "StandardGlyphs\\h6_open.gif"
H6-CLOSE                GIFS                    "StandardGlyphs\\h6_close.gif"
HR                      GIFS                    "StandardGlyphs\\hr.gif"
I-OPEN                  GIFS                    "StandardGlyphs\\i_open.gif"
I-CLOSE                 GIFS                    "StandardGlyphs\\i_close.gif"
IMG                     GIFS                    "StandardGlyphs\\img.gif"
//INPUT-OPEN              GIFS                    "StandardGlyphs\\input-Open.gif"
//INPUT-CLOSE             GIFS                    "StandardGlyphs\\input-Close.gif"
KBD-OPEN                GIFS                    "StandardGlyphs\\kbd_open.gif"
KBD-CLOSE               GIFS                    "StandardGlyphs\\kbd_close.gif"
LI-OPEN                 GIFS                    "StandardGlyphs\\li_open.gif"
LI-CLOSE                GIFS                    "StandardGlyphs\\li_close.gif"
MAP-OPEN                GIFS                    "StandardGlyphs\\map_open.gif"
MAP-CLOSE               GIFS                    "StandardGlyphs\\map_close.gif"
MENU-OPEN               GIFS                    "StandardGlyphs\\menu_open.gif"
MENU-CLOSE              GIFS                    "StandardGlyphs\\menu_close.gif"
OL-OPEN                 GIFS                    "StandardGlyphs\\ol_open.gif"
OL-CLOSE                GIFS                    "StandardGlyphs\\ol_close.gif"
P-OPEN                  GIFS                    "StandardGlyphs\\para_open.gif"
P-CLOSE                 GIFS                    "StandardGlyphs\\para_close.gif"
PRE-OPEN                GIFS                    "StandardGlyphs\\pre_open.gif"
PRE-CLOSE               GIFS                    "StandardGlyphs\\pre_close.gif"
SAMP-OPEN               GIFS                    "StandardGlyphs\\samp_open.gif"
SAMP-CLOSE              GIFS                    "StandardGlyphs\\samp_close.gif"
SCRIPT                  GIFS                    "StandardGlyphs\\script.gif"
SELECT-OPEN             GIFS                    "StandardGlyphs\\select_open.gif"
SELECT-CLOSE            GIFS                    "StandardGlyphs\\select_close.gif"
SMALL-OPEN              GIFS                    "StandardGlyphs\\small_open.gif"
SMALL-CLOSE             GIFS                    "StandardGlyphs\\small_close.gif"
SPAN-OPEN               GIFS                    "StandardGlyphs\\span_open.gif"
SPAN-CLOSE              GIFS                    "StandardGlyphs\\span_close.gif"
STRIKE-OPEN             GIFS                    "StandardGlyphs\\strike_open.gif"
STRIKE-CLOSE            GIFS                    "StandardGlyphs\\strike_close.gif"
STRONG-OPEN             GIFS                    "StandardGlyphs\\strong_open.gif"
STRONG-CLOSE            GIFS                    "StandardGlyphs\\strong_close.gif"
STYLE                   GIFS                    "StandardGlyphs\\style.gif"
SUB-OPEN                GIFS                    "StandardGlyphs\\sub_open.gif"
SUB-CLOSE               GIFS                    "StandardGlyphs\\sub_close.gif"
SUP-OPEN                GIFS                    "StandardGlyphs\\sup_open.gif"
SUP-CLOSE               GIFS                    "StandardGlyphs\\sup_close.gif"
TABLE                   GIFS                    "StandardGlyphs\\table.gif"
TEXTAREA-OPEN           GIFS                    "StandardGlyphs\\textarea_open.gif"
TEXTAREA-CLOSE          GIFS                    "StandardGlyphs\\textarea_close.gif"
TT-OPEN                 GIFS                    "StandardGlyphs\\tt_open.gif"
TT-CLOSE                GIFS                    "StandardGlyphs\\tt_close.gif"
U-OPEN                  GIFS                    "StandardGlyphs\\u_open.gif"
U-CLOSE                 GIFS                    "StandardGlyphs\\u_close.gif"
UL-OPEN                 GIFS                    "StandardGlyphs\\ul_open.gif"
UL-CLOSE                GIFS                    "StandardGlyphs\\ul_close.gif"
VAR-OPEN                GIFS                    "StandardGlyphs\\var_open.gif"
VAR-CLOSE               GIFS                    "StandardGlyphs\\var_close.gif"
// Color Glyphs
C-A-OPEN                  GIFS                    "ColoredGlyphs\\WSIconA-open.gif"
C-A-CLOSE                 GIFS                    "ColoredGlyphs\\WSIconA-close.gif"
C-ADDRESS-OPEN            GIFS                    "ColoredGlyphs\\WSIconAddress-open.gif"
C-ADDRESS-CLOSE           GIFS                    "ColoredGlyphs\\WSIconAddress-close.gif"
C-APPLET-OPEN             GIFS                    "ColoredGlyphs\\WSIconApplet-open.gif"
C-APPLET-CLOSE            GIFS                    "ColoredGlyphs\\WSIconApplet-close.gif"
C-B-OPEN                  GIFS                    "ColoredGlyphs\\WSIconB-open.gif"
C-B-CLOSE                 GIFS                    "ColoredGlyphs\\WSIconB-close.gif"
C-BIG-OPEN                GIFS                    "ColoredGlyphs\\WSIconBig-Open.gif"
C-BIG-CLOSE               GIFS                    "ColoredGlyphs\\WSIconBig-close.gif"
C-BLOCKQUOTE-OPEN         GIFS                    "ColoredGlyphs\\WSIconBlockQ-Open.gif"
C-BLOCKQUOTE-CLOSE        GIFS                    "ColoredGlyphs\\WSIconBlockQ-Close.gif"
C-BR                      GIFS                    "ColoredGlyphs\\WSIconBR.gif"
C-CAPTION-OPEN            GIFS                    "ColoredGlyphs\\WSIconCaption-open.gif"
C-CAPTION-CLOSE           GIFS                    "ColoredGlyphs\\WSIconCaption-close.gif"
C-CENTER-OPEN             GIFS                    "ColoredGlyphs\\WSIconCenter-open.gif"
C-CENTER-CLOSE            GIFS                    "ColoredGlyphs\\WSIconCenter-close.gif"
C-CITE-OPEN               GIFS                    "ColoredGlyphs\\WSIconCite-open.gif"
C-CITE-CLOSE              GIFS                    "ColoredGlyphs\\WSIconCite-close.gif"
C-CODE-OPEN               GIFS                    "ColoredGlyphs\\WSIconCode-open.gif"
C-CODE-CLOSE              GIFS                    "ColoredGlyphs\\WSIconCode-close.gif"
C-COMMENT                 GIFS                    "ColoredGlyphs\\WSIconComment.gif"
C-DD-OPEN                 GIFS                    "ColoredGlyphs\\WSIconDd-open.gif"
C-DD-CLOSE                GIFS                    "ColoredGlyphs\\WSIconDd-close.gif"
C-DFN-OPEN                GIFS                    "ColoredGlyphs\\WSIconDfn-open.gif"
C-DFN-CLOSE               GIFS                    "ColoredGlyphs\\WSIconDfn-close.gif"
C-DIR-OPEN                GIFS                    "ColoredGlyphs\\WSIconDir-open.gif"
C-DIR-CLOSE               GIFS                    "ColoredGlyphs\\WSIconDir-close.gif"
C-DIV-OPEN                GIFS                    "ColoredGlyphs\\WSIconDiv-open.gif"
C-DIV-CLOSE               GIFS                    "ColoredGlyphs\\WSIconDiv-close.gif"
C-DL-OPEN                 GIFS                    "ColoredGlyphs\\WSIconDl-open.gif"
C-DL-CLOSE                GIFS                    "ColoredGlyphs\\WSIconDl-close.gif"
C-DT-OPEN                 GIFS                    "ColoredGlyphs\\WSIconDt-open.gif"
C-DT-CLOSE                GIFS                    "ColoredGlyphs\\WSIconDt-close.gif"
C-EM-OPEN                 GIFS                    "ColoredGlyphs\\WSIconEm-open.gif"
C-EM-CLOSE                GIFS                    "ColoredGlyphs\\WSIconEm-close.gif"
C-FONT-OPEN               GIFS                    "ColoredGlyphs\\WSIconFont-open.gif"
C-FONT-CLOSE              GIFS                    "ColoredGlyphs\\WSIconFont-close.gif"
C-FORM-OPEN               GIFS                    "ColoredGlyphs\\WSIconForm-Open.gif"
C-FORM-CLOSE              GIFS                    "ColoredGlyphs\\WSIconForm-close.gif"
C-H1-OPEN                 GIFS                    "ColoredGlyphs\\WSIconH1-open.gif"
C-H1-CLOSE                GIFS                    "ColoredGlyphs\\WSIconH1-close.gif"
C-H2-OPEN                 GIFS                    "ColoredGlyphs\\WSIconH2-open.gif"
C-H2-CLOSE                GIFS                    "ColoredGlyphs\\WSIconH2-close.gif"
C-H3-OPEN                 GIFS                    "ColoredGlyphs\\WSIconH3-open.gif"
C-H3-CLOSE                GIFS                    "ColoredGlyphs\\WSIconH3-close.gif"
C-H4-OPEN                 GIFS                    "ColoredGlyphs\\WSIconH4-open.gif"
C-H4-CLOSE                GIFS                    "ColoredGlyphs\\WSIconH4-close.gif"
C-H5-OPEN                 GIFS                    "ColoredGlyphs\\WSIconH5-open.gif"
C-H5-CLOSE                GIFS                    "ColoredGlyphs\\WSIconH5-close.gif"
C-H6-OPEN                 GIFS                    "ColoredGlyphs\\WSIconH6-open.gif"
C-H6-CLOSE                GIFS                    "ColoredGlyphs\\WSIconH6-close.gif"
C-HR                      GIFS                    "ColoredGlyphs\\WSIconHr.gif"
C-I-OPEN                  GIFS                    "ColoredGlyphs\\WSIconI-open.gif"
C-I-CLOSE                 GIFS                    "ColoredGlyphs\\WSIconI-close.gif"
C-IMG                     GIFS                    "ColoredGlyphs\\WSIconImg.gif"
//INPUT-OPEN              GIFS                    "ColoredGlyphs\\WSIconInput-Open.gif"
//INPUT-CLOSE             GIFS                    "ColoredGlyphs\\WSIconInput-Close.gif"
C-KBD-OPEN                GIFS                    "ColoredGlyphs\\WSIconKbd-open.gif"
C-KBD-CLOSE               GIFS                    "ColoredGlyphs\\WSIconKbd-close.gif"
C-LI-OPEN                 GIFS                    "ColoredGlyphs\\WSIconLi-open.gif"
C-LI-CLOSE                GIFS                    "ColoredGlyphs\\WSIconLi-close.gif"
C-MAP-OPEN                GIFS                    "ColoredGlyphs\\WSIconMap-open.gif"
C-MAP-CLOSE               GIFS                    "ColoredGlyphs\\WSIconMap-close.gif"
C-MENU-OPEN               GIFS                    "ColoredGlyphs\\WSIconMenu-open.gif"
C-MENU-CLOSE              GIFS                    "ColoredGlyphs\\WSIconMenu-close.gif"
C-OL-OPEN                 GIFS                    "ColoredGlyphs\\WSIconOl-open.gif"
C-OL-CLOSE                GIFS                    "ColoredGlyphs\\WSIconOl-close.gif"
C-P-OPEN                  GIFS                    "ColoredGlyphs\\WSIconP-open.gif"
C-P-CLOSE                 GIFS                    "ColoredGlyphs\\WSIconP-close.gif"
C-PRE-OPEN                GIFS                    "ColoredGlyphs\\WSIconPre-open.gif"
C-PRE-CLOSE               GIFS                    "ColoredGlyphs\\WSIconPre-close.gif"
C-SAMP-OPEN               GIFS                    "ColoredGlyphs\\WSIconSamp-open.gif"
C-SAMP-CLOSE              GIFS                    "ColoredGlyphs\\WSIconSamp-close.gif"
C-SCRIPT                  GIFS                    "ColoredGlyphs\\WSIconScript.gif"
C-SELECT-OPEN             GIFS                    "ColoredGlyphs\\WSIconSelect-open.gif"
C-SELECT-CLOSE            GIFS                    "ColoredGlyphs\\WSIconSelect-close.gif"
C-SMALL-OPEN              GIFS                    "ColoredGlyphs\\WSIconSmall-open.gif"
C-SMALL-CLOSE             GIFS                    "ColoredGlyphs\\WSIconSmall-close.gif"
C-SPAN-OPEN               GIFS                    "ColoredGlyphs\\WSIconSpan-open.gif"
C-SPAN-CLOSE              GIFS                    "ColoredGlyphs\\WSIconSpan-close.gif"
C-STRIKE-OPEN             GIFS                    "ColoredGlyphs\\WSIconStrike-open.gif"
C-STRIKE-CLOSE            GIFS                    "ColoredGlyphs\\WSIconStrike-close.gif"
C-STRONG-OPEN             GIFS                    "ColoredGlyphs\\WSIconStrong-open.gif"
C-STRONG-CLOSE            GIFS                    "ColoredGlyphs\\WSIconStrong-close.gif"
C-STYLE                   GIFS                    "ColoredGlyphs\\WSIconStyle.gif"
C-SUB-OPEN                GIFS                    "ColoredGlyphs\\WSIconSub-open.gif"
C-SUB-CLOSE               GIFS                    "ColoredGlyphs\\WSIconSub-close.gif"
C-SUP-OPEN                GIFS                    "ColoredGlyphs\\WSIconSup-open.gif"
C-SUP-CLOSE               GIFS                    "ColoredGlyphs\\WSIconSup-close.gif"
C-TABLE                   GIFS                    "ColoredGlyphs\\WSIconTable.gif"
C-TEXTAREA-OPEN           GIFS                    "ColoredGlyphs\\WSIconTextA-open.gif"
C-TEXTAREA-CLOSE          GIFS                    "ColoredGlyphs\\WSIconTextA-close.gif"
C-TT-OPEN                 GIFS                    "ColoredGlyphs\\WSIconTt-open.gif"
C-TT-CLOSE                GIFS                    "ColoredGlyphs\\WSIconTt-close.gif"
C-U-OPEN                  GIFS                    "ColoredGlyphs\\WSIconU-open.gif"
C-U-CLOSE                 GIFS                    "ColoredGlyphs\\WSIconU-close.gif"
C-UL-OPEN                 GIFS                    "ColoredGlyphs\\WSIconUl-open.gif"
C-UL-CLOSE                GIFS                    "ColoredGlyphs\\WSIconUl-close.gif"
C-VAR-OPEN                GIFS                    "ColoredGlyphs\\WSIconVar-open.gif"
C-VAR-CLOSE               GIFS                    "ColoredGlyphs\\WSIconVar-close.gif"

// Word Like Glyphs
WORD-PARA                 GIFS                    "SpecialGlyphs\\word-para.gif"
WORD-BREAK                GIFS				      "SpecialGlyphs\\word-break.gif"
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
//
// Printer Support Resources
//
TemplateIE7				PRINT				   "PrinterSupport\\preview.dlg"
Template1				PRINT				   "PrinterSupport\\template1.html"
Template2				PRINT				   "PrinterSupport\\template2.html"
Template3				PRINT				   "PrinterSupport\\template3.html"
Template4				PRINT				   "PrinterSupport\\template4.html"
Template5				PRINT				   "PrinterSupport\\template5.html"
Template6				PRINT				   "PrinterSupport\\template6.html"
Template7				PRINT				   "PrinterSupport\\template7.html"
Template8				PRINT				   "PrinterSupport\\template8.html"

MarginLR				PRINT				   "InternalGlyphs\\MarginLR.gif"
MarginTB				PRINT				   "InternalGlyphs\\MarginTB.gif"
Begin					PRINT				   "PrinterSupport\\begin.gif"
BeginHilite				PRINT				   "PrinterSupport\\begin_hilite.gif"
BeginInactive			PRINT				   "PrinterSupport\\begin_inactive.gif"
End						PRINT				   "PrinterSupport\\end.gif"
EndHilite				PRINT				   "PrinterSupport\\end_hilite.gif"
EndInactive				PRINT				   "PrinterSupport\\end_inactive.gif"
Prev					PRINT				   "PrinterSupport\\prev.gif"
PrevHilite				PRINT				   "PrinterSupport\\prev_hilite.gif"
PrevInactive			PRINT				   "PrinterSupport\\prev_inactive.gif"
Next					PRINT				   "PrinterSupport\\next.gif"
NextHilite				PRINT				   "PrinterSupport\\next_hilite.gif"
NextInactive			PRINT				   "PrinterSupport\\next_inactive.gif"
Printctl				PRINT				   "PrinterSupport\\printctl.gif"
PrintctlHilite			PRINT				   "PrinterSupport\\printctl_hilite.gif"
Zoomin					PRINT				   "PrinterSupport\\zoomin.gif"
ZoominInactive      	PRINT				   "PrinterSupport\\zoomin.gif"
ZoominHilite			PRINT				   "PrinterSupport\\zoomin_hilite.gif"
Zoomout					PRINT				   "PrinterSupport\\zoomout.gif"
ZoomoutInactive			PRINT				   "PrinterSupport\\zoomout.gif"
ZoomoutHilite			PRINT				   "PrinterSupport\\zoomout_hilite.gif"
