//In Microsoft Visual C++ generiertes Ressourcenskript.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 2 generiert.
//
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE 7, 1
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Symbol
//

// Symbol mit dem niedrigsten ID-Wert an erster Stelle platziert, um es als Anwendungssymbol zu verwenden
// ist auf allen Systemen einheitlich.

IDI_RESOURCELIBRARY       ICON         "ResourceLibrary.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menü
//

IDC_RESOURCELIBRARY MENU 
BEGIN
    POPUP "&Datei"
    BEGIN
        MENUITEM "&Beenden",                IDM_EXIT
    END
    POPUP "&Hilfe"
    BEGIN
        MENUITEM "&Info",           IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Zugriffstaste
//

IDC_RESOURCELIBRARY ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Info"
FONT 8, "System"
BEGIN
    ICON            IDI_RESOURCELIBRARY,IDC_MYICON,14,9,16,16
    LTEXT           "ResourceLibrary Version 1.0",IDC_STATIC,49,10,119,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2003",IDC_STATIC,49,20,119,8
    DEFPUSHBUTTON   "OK",IDOK,195,6,30,11,WS_GROUP
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Zeichenfolgentabelle
//

STRINGTABLE  
BEGIN
   IDC_RESOURCELIBRARY   "RESOURCELIBRARY"
   IDS_APP_TITLE       "ResourceLibrary"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 3 generiert.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // nicht APSTUDIO_INVOKED
