<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UiccPath" value="C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\UICC.exe" />
    <add key="RCExePath" value="C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\RC.exe" />
    <add key="LinkExePath" value="C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\bin\Link.exe" />
    <add key="ColorizationValues" value="150, 127, 245; 25, 127, 245; 150, 71, 158" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
